<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="aimira6">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.04017952292692E-08 6.88547954296048E-11 -0.00393182591263425"
        rpy="0 0 0" />
      <mass
        value="0.153366893342015" />
      <inertia
        ixx="0.000134824007797941"
        ixy="-5.36407098097221E-12"
        ixz="1.08678826257515E-11"
        iyy="0.000134824070151333"
        iyz="1.47533667666662E-13"
        izz="0.000267137850222388" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.690196078431373 0.690196078431373 0.690196078431373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="0.000109828579629579 -0.000165175805369598 -0.019808653010817"
        rpy="0 0 0" />
      <mass
        value="0.314152170173888" />
      <inertia
        ixx="7.64604482226176E-05"
        ixy="-3.11978712692391E-07"
        ixz="7.97142740238091E-09"
        iyy="8.61669728197303E-05"
        iyz="-6.45286703390183E-08"
        izz="9.02262510469105E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="-0.0301961591482603 0.244586379833867 -0.0007347839341934"
        rpy="0 0 0" />
      <mass
        value="0.777713706471678" />
      <inertia
        ixx="0.00773190010450537"
        ixy="-7.71121525104686E-06"
        ixz="-6.02041690223417E-06"
        iyy="0.000271753322008837"
        iyz="-6.33071741169116E-07"
        izz="0.0078708368316307" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="0 0 0.0345"
      rpy="1.5708 0 0.051022" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="-0.051 0 0.9987" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.185192224022038 0.0311040596506036 0.000586519231663198"
        rpy="0 0 0" />
      <mass
        value="0.688903385722527" />
      <inertia
        ixx="0.000213264577740228"
        ixy="-4.25096101453383E-05"
        ixz="-6.28896717935606E-07"
        iyy="0.00433913949748342"
        iyz="-6.71312866117713E-07"
        izz="0.00441755349825434" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0 0.7 0"
      rpy="0 -0.051022 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.00740957421480504 -0.000315480442245499 -0.0466896418344882"
        rpy="0 0 0" />
      <mass
        value="0.334652497698763" />
      <inertia
        ixx="7.79899479136191E-05"
        ixy="-3.033429159648E-07"
        ixz="-9.25838976256045E-06"
        iyy="0.000124172042266161"
        iyz="-1.89972976382329E-08"
        izz="0.000126239646901981" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.618 0.052 0"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.0141179016225014 -0.000144175611274444 0.0012823710617245"
        rpy="0 0 0" />
      <mass
        value="0.334352173137141" />
      <inertia
        ixx="8.30386716577822E-05"
        ixy="1.24971203941448E-08"
        ixz="-8.2084074321369E-07"
        iyy="0.000137398625968353"
        iyz="-1.01136579011778E-08"
        izz="0.000155218516612205" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.052 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link6">
    <inertial>
      <origin
        xyz="-0.000184041694461623 2.24702160746509E-06 -0.036732892773676"
        rpy="0 0 0" />
      <mass
        value="0.261928935910918" />
      <inertia
        ixx="5.950273602425E-05"
        ixy="-1.24986654826041E-08"
        ixz="-1.01141758324E-08"
        iyy="6.01266926173309E-05"
        iyz="1.1572222134717E-09"
        izz="7.73631381406489E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://aimira6/meshes/link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.1005 0 0"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="link5" />
    <child
      link="link6" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>